#wrapper
  %section#slides
    .row
      %article.slide
        = image_tag "bbc_1.jpg"
      %article.slide
        = image_tag "bbc_2.jpg"
      %article.slide
        = image_tag "bbc_3.jpg"
    .row
      %article.slide
        = image_tag "bbc_4.jpg"
      %article.slide
        = image_tag "bbc_5.jpg"
      %article.slide
        = image_tag "bbc_6.jpg"
    .row
      %article.slide
        = image_tag "bbc_7.jpg"
      %article.slide
        = image_tag "bbc_8.jpg"
      %article.slide
        = image_tag "bbc_9.jpg"